* {
	font-family: 'Proxima Nova', Georgia, sans-serif;
}

.upload-row {
	background-image: url("https://d21ii91i3y6o6h.cloudfront.net/products/217/original/custom-die-cut-stickers_1469713744.jpg?1469713744")
}

.main.wrapper {
	padding: 20px 25px;
	background-color: white;
	border: 6px solid #cccbc9;
	border-radius: 12px;
}

.content-blocks {
	width: 1040px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.content-block {
	display: inline-block;
	width: 30%;
}

h1, h2, h3{
	font-family: 'Proxima Nova', Georgia, sans-serif;
}

.content-block img{
	width: 67px;
}

p {
	color: #404040;
}


.video-block {
	width: 1040px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

#video-embeded {
	width: 480px;
	object-fit: contain;
}

#video-desc {
	width: 420px;
	text-align: center;
	margin: 50px;
}

.shopping-cart {
	width: 20px;
	margin-top: 14px;
}

#nav a#nav-logo-aaron {
	position: relative;
    padding: 0;
    width: 140px;
    height: 42px;
    margin: 5px 15px;
    background-size: 100% auto;
    background-position: 0 45%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -7000px;
    background-image: url(./logo.svg);
}

a.main-nav-link {
	margin-top: 5px;
}

@media (max-width: 1200px) {
	.main.wrapper {
		width: 75%;
	}
}

@media (max-width: 800px) {
	.section-row {
		width: 100%;
	}

	.video-block {
		display: block;
		width: 100%;
	}

	#video-desc {
		width: 85%;
		margin: 10px auto;
	}

	#video-embeded {
		width: 85%;
		margin: 0 auto;
	}
}

@media (max-width: 600px) {
	.upload-row {
		background-image: none;
	}

	.main.wrapper {
		padding: none;
		background-color: none;
		border: none;
		border-radius: none;
	}

	.content-blocks {
		width: 85%;
		display: block;
	}	


	.content-block {
		display: block;
		width: 100%;
		margin: 25px auto;
	}

	.icon-desc {
		display: inline-block;
		width: 80%;
	}


}